body {
    background-color: white;
}

.navbar-fixed-left {
    background-color:green;
    padding-top: 30px;
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}