body {
    background-color: white;
}

.navbar {
    height: 50px;
}
.navbar-fixed-left {
    text-align:center;
    margin-top: 30px;
    background-color: lightgray;
    padding-top: 10px;
    width: 200px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.nav-link {
    color: black
}

.page-title {
    margin-top: 20px;
}

.category-title {
    margin-top: 20px;
}

.sign-up {
    display: flex;
    justify-content: center;
}

.sign-up-title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 20px;
}

.login {
    display: flex;
    justify-content: center;
}

.login-title {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    padding-bottom: 20px;
}

.form-group {
    padding-bottom: 20px;
}

.signup-login-link {
    padding-top: 10px;
    text-align: center;
}
/* Style page content */
.main {
    margin: 30px 30px 30px 220px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* Add course page */
.form-label {
    margin-top: 10px;
    font-size: 20px;
}

/* Star rating */

.star{
    color: goldenrod;
    font-size: 2.0rem;
}
.star::before{
content: '\2606';
cursor: pointer;
}
.star.rated::before{
content: '\2605';
}

.stars{
    counter-reset: rateme 0;   
    font-size: 2.0rem;
    font-weight: 900;
}
.star.rated{
    counter-increment: rateme 1;
}
/*
.stars::after{
  content: counter(rateme) '/5';
}
*/
