{% extends "base.html" %}

{% block title %}
Sign-Up 
{% endblock %}

{% block heading %}
Sign Up
{% endblock %}

{% block content %}
{% if form %}
<form action="{{url_for('signin')}}" method="POST" style="padding:5px;">
    <!-- Email Field -->
    {{ form.email.label }}: <br>
    {{ form.email }} 
    <br>
    <!-- Password Field -->
    {{ form.password.label }}: <br>
    {{ form.password }}
     <!-- Hidden CSRF Token Field -->
    {{ form.csrf_token }}
    <br>
     <!-- Submit Field -->
    {{ form.submit }}
</form> 
{% endif %}
{% endblock %}