{% extends "base.html" %}

{% block title %}
New Course
{% endblock %}

{% block heading %}
Add new course
{% endblock %}

{% block content %}
<form action="{{url_for('newCourse')}}" method="POST" style="padding:5px;">
    <!-- Course name Field -->
    {{ form.courseCode.label }}: <br>
    {{ form.courseCode }} 
    <br>
    <!-- number of labs Field -->
    {{ form.numLabs.label }}: <br>
    {{ form.numLabs }} 
    <br>
    <!-- number of problem sets Field -->
    {{ form.numPS.label }}: <br>
    {{ form.numPS }}
    <br>
    <!-- number of lectures Field -->
    {{ form.numLectures.label }}: <br>
    {{ form.numLectures }}
    
     <!-- Hidden CSRF Token Field -->
    {{ form.csrf_token }}
    <br>
     <!-- Submit Field -->
    {{ form.submit }}
</form> 
{% endblock %}