<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create a Course</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css" />
</head>

<body>
     <!-- Side Nav Bar -->
     <nav class = "navbar-fixed-left">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
            </div>
        <h3>Courses</h3>
        <ul class="nav navbar-nav">

            {%for c in Courses %}

            {% if courseName == c %}<li class="nav-item active">{%endif%}
            {% if courseName == c %}<li class="nav-item">{%endif%}
                <a class="nav-link" href="{{url_for('changePage', curCourse = c )}}">{{c}}</a>
            </li>
            {% endfor %}

            <hr>

            <li class="nav-item active">
                <a class="nav-link" href="/newCourse">Add a Course</a>
            </li> 
         </ul>   
        </div>
    </nav>

    <!-- Top Nav Bar -->
    <nav class = "navbar sticky-top navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Progress Tracker</a>
            </div>
        </div>
    </nav>
    
    <!-- Add course main page -->
    <div class="main">
        <div class="container-fluid">
            <h1 class="page-title">Create a Course</h1>
            <form action="{{url_for('newCourse')}}" method="POST" style="padding:5px;">

                <!-- Course name Field -->
                <div class="row">
                    <label for="courseNameInput" class="form-label">Course name</label>
                    <br>
                    {{ form.courseCode }} 
                </div>
                <br>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <!-- Input number of labs -->
                            <label for="numLabsSelect" class="form-label">Number of labs</label>
                            <br>
                            {{ form.numLabs }}
                        </div>
                    </div>  
                    <br>
                    
                    <div class="col">
                        <div class="row">
                            <!-- Input number of assignments -->
                            <label for="numAsgnSelect" class="form-label">Number of assignments</label>
                            <br>
                            {{ form.numPS }}
                        </div>
                    </div>
                    <br>

                    <div class="col">
                        <div class="row">
                            <!-- Input number of lectures-->
                            <label for="numLecsSelect" class="form-label">Number of lectures</label>
                            <br>
                            {{ form.numLectures }}
                        </div>
                    </div>
                </div>

                <!-- Hidden CSRF Token Field -->
                {{ form.csrf_token }}
                <br>
                <!-- Submit Field -->
                {{ form.submit }}
            </form>
        </div>
    </div>
</body>
</html>
